@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Bundles.RenderScripts()
</body>
</html>
