*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #151d5c;
    font-family: Arial,system;
}

#wrapper
{
    width: 1024px;
    margin: 30px auto;
    border-radius: 20px;
    background-color: #FFF;
    min-height: 600px;
}

header
{
    height: 115px;
    margin-right: 30px;
}

    header img
    {
        margin: 17px 15px;
    }

    header #menu
    {
        list-style-type: none;
        float: right;
    }

        header #menu li
        {
            float: left;
            cursor: pointer;
            margin: 0px 5px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 60px 10px 20px 10px;
        }

            header #menu li:hover, header #menu li.selected
            {
                background-color: rgb(161, 6, 2);
                color: #FFF;
            }

#content
{
    border-top: 7px solid #000;
    padding: 20px 15px 15px 15px;
}

    #content h1:first-child
    {
        margin-bottom: 20px;
    }

h1, h2, h3, h4, h5, h6, .speaker .name
{
    text-transform: uppercase;
}

    h1:first-letter, h2:first-letter
    {
        color: rgb(161, 6, 2);
    }

#loading
{
    text-align: center;
}

.odd
{
    background-color: #DBDBDB;
}

.header
{
    padding: 0px 7px 7px 0px;
    background-color: rgb(41, 66, 101);
    color: #FFF;
    text-align: right;
}

    .header a:link, .header a:visited
    {
        color: #FFF;
    }

.speaker
{
    padding: 30px 7px 7px 0px;
    height: 130px;
}

    .speaker .name, .speaker .name:link
    {
        font-weight: bold;
        font-size: 16pt;
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }

.hiText
{
    color: rgb(161, 6, 2);
}

.speaker img
{
    float: left;
    margin-right: 10px;
    margin-left: 7px;
}

.speaker .social
{
    margin-top: 10px;
}

.wrapper
{
    width: 840px;
    margin: 0 auto;
    border: 7px solid rgb(41, 66, 101);
}

.inlineWrapper
{
    border: 7px solid rgb(41, 66, 101);
    width: 700px;
    margin-left: 255px;
    height: 111px;
    border-bottom-right-radius: 10px;
}

.session
{
    padding: 5px;
}

    .session:hover
    {
        background-color: #eee;
        cursor: pointer;
    }

.inlineHeader
{
    background-color: rgb(41, 66, 101);
    width: 714px;
    margin-left: 255px;
    color: #FFF;
    padding-top: 5px;
    margin-top: 10px;
    border-top-right-radius: 10px;
}

.largeSpeaker
{
    float: left;
    border-right: 7px solid rgb(41, 66, 101);
    margin-right: 5px;
    padding-right: 5px;
    width: 250px;
    height: 250px;
}

.bio
{
    min-height: 75px;
}