@model DCDotNetMeetup.GreetingModel
<html>
	<body>
		<form asp-controller="Default" asp-action="Index">
			<input asp-for="Name" type="text" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>